* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #f0f4f8;
  color: #ff0505;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 30px;
}
.stopwatch-container {
  background: #4cc6ff;
  border: 20px solid #954d05;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 300px;
  padding: 24px;
}
.display {
  font-size: 4rem;
  text-align: center;
  padding: 12px 0;
  border: 5px solid #000307;
  border-radius: 8px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  background: #0a0f14;
}
.controls {
  display: flex;
  justify-content: space-between;
  gap: 3px;
  margin-bottom: 24px;
}
.controls button {
  flex: 1;
  padding: 10px;
  font-size: 2rem;
  border: 3px solid #000307 ;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}
.controls button:hover {
  filter: brightness(0.95);
}
.btn-start {
  background: rgb(65, 245, 65);
  color: white;
}
.btn-stop {
  background: rgb(248, 3, 3);
  color: white;
}
.btn-reset {
  background: rgb(252, 252, 87);
  color: white;
}
.btn-lap {
  background: purple;
  color: white;
}
.laps {
  max-height: 200px;
  overflow-y: auto;
  padding: 8px;
  border: 10px solid #00050a;
  border-radius: 8px;
  background: #fafbfc;
}
.laps h3 {
  margin-bottom: 8px;
  font-size: 2rem;
  color: #4a90e2;
}
.laps ul {
  list-style-type: none;
  font-size: 20px;
}
.laps ul li {
  padding: 6px;
  border-bottom: 3px solid #ddd;
  font-family: monospace;
}
.laps ul li:last-child {
  border-bottom: none;
}
